@page "/ResetPassword"
@model KalaAPI.Pages.ResetPasswordModel
@{
    Layout = null;
}

    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset your password</h1>
    <form action="/api/Authenticate/ResetPassword" method="post">
        <input type="hidden" name="Token" value="@Request.Query["Token"]" />
        <input type="hidden" name="Email" value="@Request.Query["Email"]" />
        <table>
            <tr>
                <td>
                    Password must be at least 8 characters and must contain at least one: symbol, capital, number
                </td>
            </tr>
            <tr>
                <td>
                    New Password
                </td>
                <td>
                    <input type="password" name="NewPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    Confirm Password
                </td>
                <td>
                    <input type="password" name="ConfirmPassword" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>